docs/n8n/n8n_workflow_scan.json
{
    "name": "Análise Scan (Gemini Multimodal)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analise-juridica",
                "responseMode": "responseNode",
                "options": {
                    "binaryData": true
                }
            },
            "id": "webhook-scan",
            "name": "Receber Arquivos",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                100
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                340
            ],
            "id": "gemini-model",
            "name": "Google Gemini",
            "credentials": {
                "googlePalmApi": {
                    "id": "yE4jnPRHSnUY1JHk",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Analise os documentos PDF anexos (que podem ser imagens escaneadas) e gere o relatório jurídico de viabilidade.",
                "options": {
                    "systemMessage": "Você é um Advogado Sênior Especialista em Leilões de Imóveis.\n\nSua tarefa é analisar os documentos anexos (Edital, Matrícula, Processos) e gerar um **Parecer Jurídico Executivo**.\n\n**OBJETIVO:**\nO cliente quer saber se o imóvel é seguro para arrematar ou se existem riscos que inviabilizam o negócio. Ele não quer \"juridiquês\" excessivo, mas sim clareza e assertividade.\n\n**FORMATO DA RESPOSTA (Use Markdown):**\n\n## 1. Veredito Final (Go / No-Go)\n*   **Conclusão:** [COMPRA SEGURA / RISCO MODERADO / ALTO RISCO - NÃO COMPRAR]\n*   **Resumo em 1 frase:** Explique o motivo principal do veredito.\n\n## 2. Pontos Críticos (O que realmente importa)\n*   **Dívidas Totais:** R$ [Valor Estimado] (Discriminado: Condomínio, IPTU, Outros)\n*   **Ocupação:** [Ocupado/Desocupado] (Cite a fonte: Edital ou Laudo)\n*   **Riscos Específicos:** (Liste apenas o que for grave: Nulidade de intimação, Preço vil, Usufruto, etc.)\n\n## 3. Próximos Passos Recomendados\n*   [Ação 1]\n*   [Ação 2]\n\n**DIRETRIZES DE ESTILO:**\n*   **Seja muito direto.** Use listas (bullet points) sempre que possível.\n*   **Evite copiar trechos longos** da matrícula a menos que seja crucial para provar um ponto.\n*   **Foque no dinheiro e no tempo.** Quanto vai custar a mais? Quanto tempo para desocupar?\n*   Se a imagem for ilegível, avise imediatamente."
                }
            },
            "id": "agent-scan",
            "name": "Agente Multimodal",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                400,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"analysis\": \"={{ $json.output }}\"\n}",
                "options": {}
            },
            "id": "respond-scan",
            "name": "Responder",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                740,
                100
            ]
        }
    ],
    "connections": {
        "Receber Arquivos": {
            "main": [
                [
                    {
                        "node": "Agente Multimodal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Multimodal",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Multimodal": {
            "main": [
                [
                    {
                        "node": "Responder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}