docs/n8n/n8n_workflow_api.json
{
    "name": "Gemini API Debug",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analise-juridica",
                "responseMode": "responseNode",
                "options": {
                    "binaryData": true
                }
            },
            "id": "webhook-api",
            "name": "Receber Arquivos",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
                "sendQuery": true,
                "queryParameters": {
                    "key": "SUA_API_KEY_AQUI"
                },
                "method": "POST",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [\n  {\n    \"parts\": [\n      { \"text\": \"Você é um Advogado Sênior Especialista em Leilões de Imóveis.\\n\\nSua tarefa é analisar os documentos anexos (Edital, Matrícula, Processos) e gerar um **Parecer Jurídico Executivo**.\\n\\n**OBJETIVO:**\\nO cliente quer saber se o imóvel é seguro para arrematar ou se existem riscos que inviabilizam o negócio. Ele não quer \\\"juridiquês\\\" excessivo, mas sim clareza e assertividade.\\n\\n**FORMATO DA RESPOSTA (Use Markdown):**\\n\\n## 1. Veredito Final (Go / No-Go)\\n*   **Conclusão:** [COMPRA SEGURA / RISCO MODERADO / ALTO RISCO - NÃO COMPRAR]\\n*   **Resumo em 1 frase:** Explique o motivo principal do veredito.\\n\\n## 2. Pontos Críticos (O que realmente importa)\\n*   **Dívidas Totais:** R$ [Valor Estimado] (Discriminado: Condomínio, IPTU, Outros)\\n*   **Ocupação:** [Ocupado/Desocupado] (Cite a fonte: Edital ou Laudo)\\n*   **Riscos Específicos:** (Liste apenas o que for grave: Nulidade de intimação, Preço vil, Usufruto, etc.)\\n\\n## 3. Próximos Passos Recomendados\\n*   [Ação 1]\\n*   [Ação 2]\\n\\n**DIRETRIZES DE ESTILO:**\\n*   **Seja muito direto.** Use listas (bullet points) sempre que possível.\\n*   **Evite copiar trechos longos** da matrícula a menos que seja crucial para provar um ponto.\\n*   **Foque no dinheiro e no tempo.** Quanto vai custar a mais? Quanto tempo para desocupar?\\n*   Se a imagem for ilegível, avise imediatamente.\" },\n      {\n        \"inline_data\": {\n          \"mime_type\": \"application/pdf\",\n          \"data\": $binary.edital.data\n        }\n      }\n    ]\n  }\n] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-gemini",
            "name": "Chamar Gemini API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"analysis\": \"={{ $json.error ? ('ERRO API GOOGLE: ' + $json.error.message) : ($json.candidates ? $json.candidates[0].content.parts[0].text : 'Resposta desconhecida da API') }}\"\n}",
                "options": {}
            },
            "id": "respond-api",
            "name": "Responder",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                100
            ]
        }
    ],
    "connections": {
        "Receber Arquivos": {
            "main": [
                [
                    {
                        "node": "Chamar Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chamar Gemini API": {
            "main": [
                [
                    {
                        "node": "Responder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}